p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}
 
#rating-and-image {
     float: left;
     margin-right: 20px;
 }

button {
    margin: 10px;
    background: teal;
    color: white; 
    padding: 10px 20px;
    font-size: 18px;   
}
